<launch>
      
     <include file="$(find rbvogui_sim_bringup)/launch/rbvogui_complete.launch">
           <arg name="robot_xacro" value="rbvogui_std_ur10.urdf.xacro"/>      
           <arg name="launch_arm" value="true"/>
           <arg name="arm_manufacturer" value="ur"/>
           <arg name="arm_model" value="ur10"/>
     </include>


     <include file="$(find ur_vogui_admittance_controller)/launch/custom_joy_teleop.launch"/>
     <include file="$(find custom_ur_control)/launch/ur10_control.launch"/>
     <node pkg="ur_vogui_jacobian" type="jacobians" name="jacobians_node"/>
     <node pkg="ur_vogui_admittance_controller" type="admittance_controller.py" name="admittance_controller_node"/>

</launch>
